<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" class="drawer">
    <h2>{{title}}</h2>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon>phone</mat-icon>
        <span>Contact</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-button aria-label="menu toggle" (click)="navToggle(drawer)">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <a mat-icon-button routerLink="/authentication">
      <mat-icon>
        person
      </mat-icon>
    </a>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>