<mat-grid-list cols="1" rowHeight="93vh">
    <mat-grid-tile>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Signup">
                <mat-card>
                    <mat-card-content>
                        <app-signup></app-signup>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="Login">
                <mat-card>
                    <mat-card-content>
                        <app-login></app-login>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </mat-grid-tile>
</mat-grid-list>